<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/pwa.webmanifest">
    <link rel="apple-touch-icon" href="/images/fox-icon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="description test test" />
    <meta name="theme-color" content="#f1718c" />

    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <span>This in an examples for here article of progressive web apps that can be found in LogRocket</span>
    <br>
    <span>You are now</span> <span><b class="page-status">online</b></span>
    <br/>
    <button class="add-button">Add to home screen</button>

    <script src="/js/pwa.js"></script>
    <script src="/js/status.js"></script>
</body>
</html>